/* gps-capture.css - GPS capture styles aggregator */
@import './gps-capture/core.css';
@import './gps-capture/placeholders.css';
@import './gps-capture/template-manager.css';
@import './gps-capture/feature-cards.css';
