:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  text-align: left;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: inherit;
}
a:hover {
  color: #1d4ed8;
}

h1, h2, h3 {
  line-height: 1.1;
}
